<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Custom Range Slider | CodingNepal</title>
    <link rel="stylesheet" href="/static/styles/syles.css">
  </head>
  <body>
    <div class="range">
        <div class="sliderValue">
          <span>100</span>
        </div>
    <div class="field">
    <div class="value top">Titra</div>
    <input type="range" min="10" max="200" value="100" steps="1">
        
    </div>
    </div>
    <script>
      const slideValue = document.querySelector("span");
      const inputSlider = document.querySelector("input");
      inputSlider.oninput = (()=>{
        let value = inputSlider.value;
        slideValue.textContent = value;
        slideValue.style.left = (value/2) + "%";
        slideValue.classList.add("show");
      });
      inputSlider.onblur = (()=>{
        slideValue.classList.remove("show");
      });
    </script>

  </body>
</html>